html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  background-color: #fff;
  color: #fff;
  font-size: 1.6rem;
  position: relative; }

body, .container, #root {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  user-select: none; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: top; }

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  border: none; }
  button:focus {
    outline: none; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  overflow-y: auto; }

.search-bar {
  position: relative;
  background-color: #d9bd00;
  color: #000;
  height: 10rem;
  padding: 3rem 4rem;
  box-shadow: 0 0 3rem #000; }
  .search-bar-input {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #aff2fe;
    background-color: #d9bd00;
    padding: 7px 1rem;
    width: 70%;
    height: 4rem;
    margin: 0 auto;
    border-radius: 0 0 6rem 0;
    border: 0;
    border-bottom: 1rem solid #f6af5c;
    box-shadow: inset -2rem -1rem 2px #ed8877;
    transition: all .7s, transform .4s; }
    .search-bar-input:focus {
      letter-spacing: 1px;
      outline: none;
      transform: rotate(-1.12deg);
      border-bottom: 1rem solid #ed8877;
      box-shadow: inset -3px -1rem 2px #f6af5c; }
    .search-bar-input::placeholder {
      color: #bbf1fc;
      text-shadow: 1px 1px 2px #333;
      font-size: 2rem;
      letter-spacing: 2vw;
      transition: color .72s .2s, letter-spacing .3s; }
    .search-bar-input:focus::placeholder {
      letter-spacing: 1px;
      color: #fff; }

.image-list {
  margin-top: 2rem;
  padding: 1rem 4rem; }
  .image-list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem 2rem; }
    .image-list-items > .image-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .image-list-items > .image-box > img {
        animation: in 4s;
        opacity: .8;
        padding: 3px;
        background-color: #444;
        width: 100%;
        transition: all .2s; }
      .image-list-items > .image-box > img {
        padding: 0;
        opacity: 1;
        cursor: pointer; }

@keyframes in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
