.search-bar {
  position: relative; 
  background-color: rgb(217, 189, 0);
  color: #000;
  height: 10rem;
  padding: 3rem 4rem;
  box-shadow: 0 0 3rem #000;
  &-input {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #aff2fe;
    background-color: rgb(217, 189, 0);
    padding: 7px 1rem;
    width: 70%;
    height: 4rem;
    margin: 0 auto;
    border-radius: 0 0 6rem 0;
    border: 0;
    border-bottom: 1rem solid rgb(246, 175, 92);
    box-shadow: inset -2rem -1rem 2px rgb(237, 136, 119);
    transition: all .7s, transform .4s;
    
    &:focus {
      letter-spacing: 1px;
      outline: none;
      transform: rotate(-1.12deg);
      border-bottom: 1rem solid rgb(237, 136, 119);
      box-shadow: inset -3px -1rem 2px rgb(246, 175, 92);

    }
    
    &::placeholder{
      color: rgb(187, 241, 252);
      text-shadow: 1px 1px 2px #333;
      font-size: 2rem;
      letter-spacing: 2vw;
      transition: color .72s .2s, letter-spacing .3s ;
    }
    
    &:focus::placeholder {
      letter-spacing: 1px;
      color: #fff;
    }
  }
}
